* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 36px;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 500px;
  margin: auto;
}

.square {
  display: grid;
  place-content: center;
  width: 100%;
  height: 500px;
  box-shadow: 2px 2px 5px black;
  border: 2px solid black;
  border-radius: 10px;
}

.inputForm {
  width: 100%;
}

.inputForm input[type="text"] {
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  outline: none;
}

.inputForm label {
  position: absolute;
  left: -99999px;
}

button {
  width: 100%;
  min-height: 48px;
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  padding: 0.25rem;
}
